.process h3{
    margin-top: 3em;
    text-align: center;
}
.home{
    margin: 3em 0;
    height: 30em;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-image: url("https://raw.githubusercontent.com/chriscoronab/Portfolio/main/public/assets/keyboard.jpg");
    background-position: center;
    background-size: cover;
}
.home h1{
    font-size: 2em;
    margin-left: 1em;
}
.home h2{
    font-size: 3em;
    margin: 3em 1em 2.5em 0;
}
.home span{
    font-size: 1.5em;
    background: radial-gradient(circle, rgb(255, 81, 0), rgb(165, 0, 0));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.avatar img{
    width: 60%;
    border-radius: 50%;
    border: 2px solid rgb(255, 81, 0);
    object-fit: cover;
    position: relative;
    animation: move 2s ease-in-out infinite;
}
@keyframes move{
    0%{
        top: 0;
    }
    50%{
        top: 10px;
    }
    100%{
        top: 0;
    }
}
.home div .links img{
    width: 60%;
}
.links{
    display: flex;
    justify-content: right;
    align-items: center;
}