.home{
    margin: 2em 0;
    height: 30em;
    text-align: center;
    background-image: url("https://raw.githubusercontent.com/chriscoronab/Portfolio/main/public/assets/keyboard.jpg");
    background-position: center;
    background-size: cover;
}
.home h1{
    margin-top: 3em;
}
.home h2{
    font-size: 3em;
    margin: 1em 0;
}
.home span{
    font-size: 1.5em;
    background: radial-gradient(circle, rgb(255, 51, 0), rgb(165, 0, 0));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.home .socialMedia{
    margin-top: 7.5em;
    display: flex;
    justify-content: space-between;
}
.home .socialMedia .contact div{
    height: 2em;
}
.home .socialMedia .contact a{
    display: flex;
    align-items: center;
}
.home .socialMedia .contact img{
    width: 12%;
    margin: 0 0.5em;
}
.home .socialMedia .contact div img:hover, .home .socialMedia .links img:hover{
    transform: scale(1.2);
}
.home .socialMedia .links{
    margin-top: 2em;
    display: flex;
    justify-content: end;
    align-items: center;
}
.home .socialMedia .links h3{
    margin-right: 0.5em;
}
.home .socialMedia .links div{
    width: 20%;
}
.home .socialMedia .links div img{
    width: 70%;
}