.contactTitle img{
    width: 6%;
}
.contactMe{
    margin-bottom: 2em;
}
.sent{
    text-align: center;
}
.form{
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 767px){
    .contactTitle img{
        width: 10%;
    }
    .form{
        width: 85%;
        margin: 2em 0;
    }
}