footer{
    background-color: rgba(27, 25, 25, 0.315);
    text-align: center;
    padding: 0 1.5em;
}
.wave{
    position: absolute;
    top: -79px;
    left: 0;
    width: 100%;
    height: 80px;
    /* background: url("/img/wave.png"); */
    background-size: 1000px 100px;
}
.wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}
.wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave2 4s linear infinite;
}
.wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}
.wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave2 3s linear infinite;
}
footer div{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
footer .name, footer .footerItems{
    display: flex;
    flex-direction: column;
}
footer .name h3{
    margin: 0;
}
footer .footerItems{
    align-items: center;
    margin-bottom: 1em;
}
footer .footerItems a p{
    text-align: center;
}
footer .footerItems p{
    margin: 0.5em 0;
}

@media screen and (max-width: 767px){
    footer div{
        flex-direction: column;
        align-items: center;
    }
    footer .name, footer .footerItems, footer .socialMedia{
        margin-bottom: 2em;
    }
    footer .socialMedia{
        flex-direction: row;
    }
}