@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body{
  color: white;
  background-color: black;
  font-family: "Montserrat", system-ui;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  margin: 0;
}
.App{
  display: flex;
  flex-direction: column;
}
html{
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
  color: white;
}