@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body{
  color: white;
  background-color: black;
  font-family: "Montserrat", system-ui;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  margin: 0;
}
.App{
  display: flex;
  flex-direction: column;
}
html{
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
  color: white;
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-thumb{
  background: radial-gradient(circle, rgb(255, 51, 0), rgb(165, 0, 0));
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
  background: radial-gradient(circle, rgb(165, 0, 0), rgb(255, 51, 0));
}
::-webkit-scrollbar-track{
  background: rgba(27, 25, 25, 0.315);
  border-radius: 5px;
}