nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: black;
    padding: 0.5em;
}
nav p{
    margin: 0;
}
.name p{
    font-size: 1.5em;
    background: radial-gradient(circle, rgb(255, 81, 0), rgb(165, 0, 0));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
nav .items, nav .socialMedia, footer .socialMedia{
    display: flex;
    align-items: center;
}
nav .items p{
    margin: 0 1em;
}
nav .items a:hover, nav .socialMedia img:hover, footer .footerItems a:hover, footer .socialMedia img:hover{
    transform: scale(1.2);
}
nav .socialMedia div, footer .socialMedia div{
    width: max-content;
}
nav .socialMedia img, footer .socialMedia img{
    width: 50%;
}
nav .menu{
    display: none;
}

@media screen and (max-width: 767px){
    nav{
        text-align: center;
    }
    nav .menu{
        display: block;
    }
    nav .menu img{
        width: 70%;
    }
    nav .items, nav .socialMedia{
        display: none;
    }
    nav.menuOpen, nav.menuOpen .items{
        display: flex;
        flex-direction: column;
    }
    nav.menuOpen{
        height: 100vh;
    }
    nav.menuOpen .items p{
        margin: 1.5em 0;
    }
    nav.menuOpen .socialMedia{
        display: flex;
    }
}